@use '@assets/global.scss' as g;

.container {
  max-width: 450px;
  width: 80%;
  margin: auto;
  padding: 40px 0 0 0;
}

.logo {
  margin: auto;
  display: block;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
