@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  color: g.$primary-dark-blue;
  padding: 48px 120px;
}

.containerInner {
  background: g.$primary-white;
  padding: 60px 82px;
  border-radius: 10px;
  color: g.$primary-dark-blue;

  .errorText {
    color: red;
    text-align: left;
  }

  .verificationCodeInputContainer {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;

    br {
      display: block;
      margin: 15px 0;
      content: ' ';
    }
  }

  .newPasswordSection {
    margin-top: 30px;
  }
}

.passwordChangedSuccessfully {
  display: block;
  text-align: center;
  padding: 15px 0 25px 0;

  h2 {
    margin: 50px 0;
  }

  .login {
    color: g.$link-blue;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
    text-decoration-line: underline;
    width: 100%;
  }
}

@media only screen and (max-width: g.$screen-xlarge) {
  .container {
    padding: 48px 5%;

    .containerInner {
      padding: 60px 10%;
      width: 80%;
    }
  }
}

@media only screen and (max-width: g.$screen-medium) {
}
