@use '@assets/global.scss' as g;

.container {
  @include g.page-container;

  .contentContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 66px;

    .card {
      @include g.card;
      padding: 40px 82px 60px;
      border-radius: 0 0 10px 10px;

      .titleContainer {
        display: flex;
      }

      .svgContainer {
        flex: 1;
        display: flex;
        align-items: center;

        .horizontalLine {
          height: 100%;
        }
      }

      h2 {
        color: g.$primary-dark-blue;
        margin-right: 10px;
      }

      p {
        color: g.$primary-dark-blue;
      }

      .productsTilesContainer {
        display: flex;
        justify-content: space-between;

        @include g.sm-breakpoint {
          flex-direction: column;
          align-items: center;
        }

        .requestProductsTile {
          display: flex;
          flex: 1;
          padding: 30px 40px;
          margin-right: 25px;
          align-items: center;
          gap: 20px;
          border-radius: 10px;
          background: g.$primary-light-blue;
          color: g.$dark-blue;
          cursor: pointer;

          @include g.sm-breakpoint {
            margin: 10px 0;
          }
        }

        .donateProductsTile {
          display: flex;
          flex: 1;
          padding: 30px 40px;
          align-items: center;
          gap: 20px;
          border-radius: 10px;
          background: g.$primary-mid-blue;
          color: g.$primary-white;
          cursor: pointer;
        }
      }

      .extraStockTileContainer {
        border-radius: 10px;
        background: g.$primary-dark-blue;
        margin-top: 25px;
        cursor: pointer;

        .extraStockTile {
          display: flex;
          padding: 30px 40px;
          align-items: center;
          gap: 20px;

          .extraStockText {
            flex-direction: column;

            h3 {
              margin: 0;
              color: g.$primary-white;
            }

            h4 {
              color: g.$primary-white;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: calc(g.$screen-medium)) {
  .title {
    display: none;
  }

  .container {
    .contentContainer {
      padding-top: 66px;
    }
  }
}

@media only screen and (max-width: calc(g.$screen-small)) {
  .container {
    .contentContainer {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 20px;

      .card {
        padding: 20px;
        margin: 20px;
        margin-top: 0;
      }
    }
  }
}
