@use '@assets/global.scss' as g;

.container {
  background: g.$primary-white;
  padding: 40px 82px;
  margin: 50px;
  border-radius: 10px;
  color: g.$primary-dark-blue;

  .loginBanner {
    background: g.$primary-dark-blue;
    padding: 20px 145px;
    border-radius: 10px;
  }

  .forgotPassword {
    color: g.$primary-dark-blue;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
    text-decoration-line: underline;
    display: block;
    padding-bottom: 20px;
  }
}
