@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  color: g.$primary-dark-blue;
  padding: 48px 120px;

  .formButton {
    margin: 20px 0px 0px 0px;
  }
}

.innerContainer {
  background-color: g.$help-grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.logoIcon {
  width: 50px;
}

.link {
  color: g.$secondary-mid-blue;
}

.altLink {
  color: g.$secondary-mid-blue;
  text-decoration: underline;
}

.subContainerLine {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    padding: 17px 19px;
  }

  .subContainer {
    padding: 40px 20px;
  }
}
