@use '@assets/global.scss' as g;

.container {
  @include g.page-container;

  .contentContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 66px;

    .title {
      padding-top: 0;
    }

    a {
      color: g.$primary-mid-blue;
      text-decoration: underline;
    }

    h1 {
      padding: 66px 0 26px;
      margin: 0;
    }

    h3 {
      margin-top: 60px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    padding: 17px 19px;

    .contentContainer {
      width: 100%;
    }
  }
}
