@use '@assets/global.scss' as g;

.dashboardCard {
  padding: 40px 40px 50px;
  margin: 20px;
  width: 398px;
  background: white;
  color: g.$primary-dark-blue;
  border-radius: 10px;
  cursor: pointer;

  .pillContainer {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .numberJoinedArea {
    margin-top: 30px;
    padding: 25px 30px 30px;
    background: g.$about-grey;
    border-radius: 10px;

    .amount {
      font-size: 24px;
      font-weight: 700;
    }

    .subBody {
      margin-top: 5px;
    }
  }
}

.la {
  border-color: g.$primary-light-blue;

  .border {
    border-left: solid 10px g.$primary-light-blue;
    padding-left: 20px;
  }
}

.requests {
  border-color: g.$secondary-blue;

  .border {
    border-left: solid 10px g.$secondary-blue;
    padding-left: 20px;
  }
}

.schools {
  border-color: g.$primary-mid-blue;

  .border {
    border-left: solid 10px g.$primary-mid-blue;
    padding-left: 20px;
  }
}

.charities {
  border-color: g.$secondary-green;

  .border {
    border-left: solid 10px g.$secondary-green;
    padding-left: 20px;
  }
}
