@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 40px 120px;

  @include g.sm-breakpoint {
    padding: 20px;
  }
}

.fullContainer {
  background: g.$primary-light-blue;
  padding: 0 120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include g.sm-breakpoint {
    padding: 0 20px;
  }
}
