@use '@assets/global.scss' as g;

.manageCard {
  border-top: 18px solid transparent;
  color: g.$primary-dark-blue;
  margin: 10px;
  padding: 30px 40px;

  .numberJoinedArea {
    margin-top: 30px;
    padding: 15px 30px 30px;
    background: g.$about-grey;
    border-radius: 10px;

    .amount {
      font-size: 24px;
      font-weight: 700;
    }

    h4 {
      margin-bottom: 10px;
    }
  }

  button {
    padding: 0;
  }
}

.filterIcon {
  font-size: 20px;
}

.border {
  border-left: solid 10px g.$primary-light-blue;
  padding-left: 20px;
}
