@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 60px 100px;
}

.lasCard {
  border-top: 18px solid transparent;
  padding: 30px 40px;
  margin: 10px;

  thead {
    th {
      background: g.$primary-mid-blue !important;
      color: g.$primary-white !important;
    }
  }

  .actionsContainer {
    display: flex;
    flex-direction: column;
  }
}

.filterIcon {
  color: g.$primary-white;
  font-size: 20px;
}

.laBorder {
  border-left: solid 10px g.$primary-light-blue;
  padding-left: 20px;
}
