@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 60px 100px;
}

.lasCard {
  border-top: 18px solid transparent;
  padding: 30px 40px;
  margin: 10px;

  .actionsContainer {
    display: flex;
    flex-direction: column;
  }
}

.nameBtn {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: g.$link-blue;
}

.filterIcon {
  font-size: 20px;
}

.status {
  margin-left: 18px;
}

.laBorder {
  border-left: solid 10px g.$primary-light-blue;
  padding-left: 20px;
}

.numberJoinedArea {
  margin: 30px 0 15px;
  padding: 18px 30px 30px;
  background: g.$about-grey;
  border-radius: 10px;

  .amount {
    font-size: 24px;
    font-weight: 700;
  }

  .subBody {
    margin-top: 5px;
  }
}
