@use '@assets/global.scss' as g;

.tile {
  background: g.$primary-light-blue;
  margin: 0 100px 66px 100px;
  display: flex;
  border-radius: 10px;

  h1 {
    margin: 0;
    white-space: nowrap;
  }

  .contentContainer {
    width: 50%;
    padding: 95px 126px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.lightBlue {
  background: g.$primary-light-blue;
  color: g.$primary-dark-blue;
}

.midBlue {
  background: g.$primary-mid-blue;
  color: g.$primary-white;
}

.darkBlue {
  background: g.$primary-dark-blue;
  color: g.$primary-white;

  .contentContainer {
    padding: 50px 126px;
  }
}

.line {
  margin: 40px 0;
  max-width: 450px;
  width: 100%;
}

.listItem {
  display: flex;
  margin-top: 40px;

  .itemText {
    list-style-type: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%; /* 30px */
    letter-spacing: -0.24px;
  }

  .itemIcon {
    margin-right: 15px;
  }
}

.imageContainer {
  width: 50%;
  display: flex;
  justify-content: end;

  .image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
  }
}

@media only screen and (min-width: g.$screen-xlarge) {
  .tile {
    max-height: 800px;
  }
}

@media only screen and (max-width: g.$screen-large) {
  .imageContainer {
    display: none;
  }

  .tile {
    margin: 0 20px 20px 20px;

    .contentContainer {
      width: fit-content;
      margin: auto;
      display: block;
      padding: 30px;
    }
  }

  .line {
    margin: 10px 0;
  }
}
