@use '../../assets/global.scss' as g;

%button {
  padding: 12px 40px 12px 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.darkBlue {
  @extend %button;
  background: g.$primary-dark-blue;
  color: g.$primary-white;
  border-color: g.$primary-dark-blue;
}

.midBlue {
  @extend %button;
  background: g.$primary-mid-blue;
  color: g.$primary-white;
  border-color: g.$primary-mid-blue;
}

.disabled {
  background-color: g.$greyscale-disabled;
  border-color: g.$greyscale-disabled-border;
  cursor: not-allowed;
  color: g.$disabled-font;
  box-shadow: 0px 4px 4px 0px g.$box-shadow-black;
}
