@use '@assets/global.scss' as g;

.formContainer {
  width: 65vw;
  margin-bottom: 50px;

  @include g.sm-breakpoint {
    width: 80vw;
  }

  .pagination {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    color: g.$primary-dark-blue;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.24px;
    margin-bottom: 40px;
  }

  .logoContainer {
    width: 300px;
    margin-bottom: 60px;

    @include g.sm-breakpoint {
      max-width: 200px;
    }
  }

  .headerContainer {
    margin: 0 0 40px;
    color: g.$primary-dark-blue;
    font-family: 'Poppins', sans-serif;

    .header {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -0.32px;
      margin: 0;
    }

    .subHeader {
      margin-top: 20px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: -0.09px;
    }

    .secondaryHeader {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -0.32px;
      margin: 30px 0 0 0;
    }

    a {
      color: g.$secondary-mid-blue;
    }
  }

  .formComponent {
    margin-bottom: 40px;

    h4 {
      font-size: 20px;

      @include g.md-breakpoint {
        font-size: 14px;
      }
    }

    h5 {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.09px;
    }

    label {
      color: g.$primary-dark-blue;

      > div {
        margin-right: 15px;
      }
    }

    > div {
      padding-bottom: 0;
    }
  }

  .link {
    margin-top: 40px;
    color: g.$secondary-mid-blue;

    button {
      padding: 0;
      font-weight: 400;
      color: g.$secondary-mid-blue;
    }
  }

  .checkbox {
    margin-bottom: 20px;
    font-size: 18px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  .returnHomeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .returnHomeLinkUnhappy {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
      color: g.$link-blue;
      padding: 0;
      margin-bottom: 40px;
      font-weight: normal;
    }
  }
}

form {
  .lastPageContainer {
    background: g.$primary-dark-blue;
    margin-top: 40px;
  }

  .pagination {
    color: g.$primary-white;
  }
}

.emptyDiv {
  height: 65px;
}
