@use '@assets/global.scss' as g;

.container {
  width: max-content;
  padding: 0px 15px;
  font-weight: bold;
  font-family: 'Poppins';
  box-shadow: 0 8px 6px -6px g.$box-shadow-black;
}

.green {
  background-color: #c2dfd1;
  color: #005328;
}

.red {
  background-color: aqua;
}
