@use '@assets/global.scss' as g;

.approvalRequestCard {
  svg {
    width: 25px;
  }

  hr {
    background: g.$greyscale-disabled;
    height: 4px;
    border: none;
    margin: 60px 0;
  }

  .requestDecisionCard {
    background-color: g.$about-grey;
    margin-top: 40px;
    padding: 40px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: g.$primary-dark-blue;

    @include g.md-breakpoint {
      padding: 20px 30px;
    }

    hr {
      height: 2px;
      margin: 0;
    }

    .actionButtons {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }

  .informationLine {
    display: flex;

    b {
      width: 45%;
      max-width: 275px;

      @include g.md-breakpoint {
        width: 30%;
      }
    }

    span {
      white-space: nowrap;
      width: 55%;

      @include g.md-breakpoint {
        width: 70%;
      }
    }

    .address {
      white-space: pre-wrap;
    }

    .about,
    .email {
      white-space: pre-wrap;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
  }

  .detailsCard {
    border-left: 8px solid g.$greyscale-light;
    padding: 1px;
    padding-left: 20px;
    margin-top: 40px;

    p {
      margin: 5px 0;
    }
  }

  .contactInfo {
    display: flex;
    align-items: center;
    gap: 10px;

    .item {
      word-break: break-word;
    }
  }

  .infoToolTip {
    cursor: pointer;
  }
}
