@use '@assets/global.scss' as g;

%paragraph {
  color: g.$primary-dark-blue;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  font-size: 18px;

  @include g.sm-breakpoint {
    font-size: 14px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
  width: 100%;

  .header {
    margin-bottom: 20px;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    color: g.$primary-dark-blue;
  }

  .subHeading {
    @extend %paragraph;
    margin: -20px 0 20px;
  }

  p.hint {
    @extend %paragraph;
    margin-bottom: 20px;

    @include g.md-breakpoint {
      font-size: 13px;
    }
  }

  .textArea {
    @include g.input;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 18px;

    @include g.sm-breakpoint {
      font-size: 14px;
    }
  }

  .characterCount {
    margin-top: 20px;
    width: 100%;
    text-align: right;
    color: g.$primary-dark-blue;
  }
}

@media only screen and (max-width: g.$screen-large) {
  %textInput {
    padding: 8px 16px;
    font-size: 13px;
  }

  .header {
    font-size: 16px;
  }
}

.red {
  color: g.$error-red;
}

.orange {
  color: g.$warning-orange;
}
