@use '@assets/global.scss' as g;

.manageCard {
  border-top: 18px solid transparent;
  color: g.$primary-dark-blue;
  margin: 10px;
  padding: 30px 40px;

  thead {
    th {
      background: g.$primary-mid-blue !important;
      color: g.$primary-white !important;
    }
  }

  .actionsContainer {
    display: flex;
    flex-direction: column;
  }
}

.filterIcon {
  color: g.$primary-white;
  font-size: 20px;
}

.border {
  border-left: solid 10px g.$primary-light-blue;
  padding-left: 20px;
}
