@use '@assets/global.scss' as g;

.bannerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: g.$primary-light-blue;
}

.textContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-size: 1.1rem;
}

h2 {
  font-size: 3rem;
}

.diagonalTextContainer {
  padding-top: 3rem;
  transform: rotate(-4deg);
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-family: Microsoft Sans Serif;
  text-align: right;
}

.imageStyles {
  width: 50%;
}

@media only screen and (max-width: g.$screen-large) {
  .bannerContainer {
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
  }

  .textContainer {
    width: 90%;
  }

  .imageStyles {
    width: 90%;
  }

  .diagonalTextContainer {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;
  }
}
