@use '@assets/global.scss' as g;

.bannerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: g.$primary-light-blue;
}

.textContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-size: 1.1rem;
  margin-left: 70px;
}

.imageStyles {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}

@media only screen and (max-width: g.$screen-large) {
  .bannerContainer {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .textContainer {
    width: 90%;
    margin-left: 0;
  }

  .imageStyles {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
  }
}
