@use '@assets/global.scss' as g;

.back {
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: g.$primary-dark-blue;
  font-family: 'Poppins', sans-serif;

  &:hover {
    cursor: pointer;
  }
}
