@use '@assets/global.scss' as g;

.back {
  background: g.$primary-mid-blue;
  outline: none;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  height: 45px;
  width: 136px;
  border-radius: 5px;

  @include g.sm-breakpoint {
    margin: 20px 0 0 50px;
    h4 {
      font-size: 14px;
    }
  }

  &:hover {
    cursor: pointer;
    border: 1px solid g.$primary-light-blue;
  }

  .exitIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}
