@use '@assets/global.scss' as g;

.container {
  @include g.page-container;

  .contentContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 66px;

    h1 {
      padding: 0 0 26px 0;
      margin: 0;
    }

    .contactCard {
      padding: 40px 82px 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .email {
        word-break: break-word;
        color: g.$primary-mid-blue;
        font-size: 32px;
        font-weight: 700;
        line-height: 125%; /* 40px */
        letter-spacing: -0.32px;
        text-decoration-line: underline;
        margin: 40px 0;
      }

      .home {
        color: g.$primary-dark-blue;
        font-size: 16px;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
        text-decoration-line: underline;
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: calc(g.$screen-medium)) {
  .container {
    padding: 0px 19px;

    .contentContainer {
      width: 100%;
      padding-top: 20px;

      .contactCard {
        padding: 20px;

        .email {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: calc(g.$screen-small)) {
  .container {
    .contentContainer {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 20px;

      .contactCard {
        padding: 20px;
        margin: 20px;
        margin-top: 0;

        .email {
          font-size: 16px;
        }
      }
    }
  }
}
