@use '@assets/global.scss' as g;

.tile {
  background: g.$primary-white;
  padding: 40px;
  border-radius: 10px;
  max-width: 350px;
  flex: 0 0 100%;

  h2,
  p {
    margin-bottom: 40px;
  }

  h2 {
    margin-top: 40px;
  }
}
