@use '@assets/global.scss' as g;

.container {
  background: g.$primary-light-blue;
  height: 100%;
}

.contentContainer {
  width: 1200px;
  margin: auto;
  padding: 68px 0 48px 0;
}

.card {
  border-radius: 10px;
  background: g.$primary-white;
  padding: 40px 82px 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;

  .header,
  .secondaryHeader {
    color: g.$primary-dark-blue;
    font-weight: 700;
  }

  .header {
    font-size: 32px;
  }

  .secondaryHeader {
    font-size: 24px;
  }
  .text {
    color: g.$primary-dark-blue;
    font-size: 18px;
    font-weight: 400;
    line-height: 145%;
  }
}
