@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  color: g.$primary-dark-blue;
  padding: 48px 120px;

  @include g.sm-breakpoint {
    padding: 25px 10px;
  }

  .subContainer {
    a {
      color: g.$secondary-mid-blue;
      text-decoration: underline;
    }

    .subText {
      margin-bottom: 60px;
    }

    .expander {
      display: flex;
      margin-top: 20px;
      color: g.$secondary-mid-blue;
      text-decoration-line: underline;
      cursor: pointer;
    }

    .missingSchoolDescription {
      margin-top: 20px;
      padding: 40px;
      background: g.$help-grey;
      border-radius: 10px;
    }
  }
}
