@use '@assets/global.scss' as g;

.bannerContainer {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-top: g.$secondary-blue 18px solid;
  border-radius: 10px 10px 0 0;

  &.charity {
    background: g.$dark-blue;
  }

  &.school {
    background: g.$primary-dark-blue;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      gap: 20px;
      color: g.$primary-white;
    }
  }

  h1 {
    color: g.$primary-white;
    margin: 0;
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-size: 1.1rem;

  .buttonLabel {
    margin-right: 10px;
    color: g.$dark-blue;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 125%;
  }

  .interfaceArrow {
    margin-bottom: -3px;
  }

  .uniformPolicyButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 30px;
  }

  .editDiv {
    display: inline-flex;
  }

  .editButton {
    margin-top: 40px;
    display: flex;
    height: 45px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 0px 2px g.$form-button-grey-border;
  }

  .editButtonText {
    margin-left: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 30px */
    letter-spacing: -0.24px;
  }
}

.italicized {
  color: g.$primary-white;
  font-style: italic;
}

@media only screen and (max-width: g.$screen-large) {
  .bannerContainer {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .textContainer {
    width: 90%;
    margin-left: 0;
  }
}
