@use '@assets/global.scss' as g;

.bannerContainer {
  display: flex;
  padding: 40px 80px 30px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-top: g.$secondary-blue 18px solid;
  border-radius: 10px 10px 0 0;

  .editSection {
    margin-bottom: 25px;
  }

  @include g.md-breakpoint {
    padding: 20px;
  }

  &.charity {
    background: g.$dark-blue;
  }

  &.school {
    background: g.$primary-dark-blue;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      gap: 20px;
      color: g.$primary-white;
      margin: 15px 0;

      &:first-of-type {
        margin-top: 0;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  h1 {
    color: g.$primary-white;
    margin: 0;
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  font-size: 1.1rem;

  .buttonLabel {
    margin-right: 10px;
    color: g.$dark-blue;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 125%;
  }

  .interfaceArrow {
    margin-bottom: -3px;
  }

  .uniformPolicyButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: g.$primary-white;
    border: g.$primary-white 2px solid;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    max-width: 212px;
  }

  .editDiv {
    display: inline-flex;
  }

  .saveButton {
    display: flex;
    height: 2.8125rem;
    padding: 1.25rem;
    align-items: center;
    border-radius: 2px;
    box-shadow: 2px 4px 4px 2px g.$box-shadow-black;
    background: g.$form-button-green-background;
    border: g.$form-button-green-border 1px solid;
    font-size: 1.5rem;

    @include g.sm-breakpoint {
      font-size: 22px;
      padding: 1rem;
    }
  }

  .footerButtons {
    display: flex;
    width: 50rem;
    align-items: center;
    gap: 1.875rem;
  }

  .editButton {
    margin: 40px;
    display: flex;
    height: 45px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 0 2px g.$form-button-grey-border;
  }

  .editButtonText {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 70%;
    letter-spacing: -0.24px;

    @include g.sm-breakpoint {
      font-size: 18px;
    }
  }

  .noPaddingBottom {
    padding-bottom: 0;
  }
}

.item {
  color: g.$primary-white;
  word-break: break-word;
}

@media only screen and (max-width: g.$screen-large) {
  .bannerContainer {
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    width: 90%;
    margin-left: 0;
  }
}
