@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 48px 150px;

  .banner {
    padding: 40px;
    color: g.$primary-white;
    border-radius: 10px 10px 0 0;
    border-top: solid 18px transparent;
  }

  .tick {
    background: g.$primary-mid-blue;
    border-color: g.$secondary-green;
  }

  .heart {
    background: g.$primary-dark-blue;
    border-color: g.$primary-mid-blue;
  }

  .plus {
    background: g.$dark-blue;
    border-color: g.$secondary-purple;
  }

  .card {
    background: g.$primary-white;
    border-radius: 0 0 10px 10px;
    padding: 60px 82px;

    .actionButtons {
      margin: 40px 0;
      padding: 40px;
      border: solid 2px g.$greyscale-disabled;
      border-radius: 10px;
    }
  }
}
