@use '@assets/global.scss' as g;

.tableWrapper {
  background: g.$primary-white;
  padding: 25px 0 10px;
  border-radius: 10px;
}

.schoolsTable {
  background: g.$primary-white;
  border-radius: 10px;
  color: g.$primary-dark-blue;
  padding: 30px 40px;

  .actionsContainer {
    display: flex;
    flex-direction: column;
  }
}

.filterIcon {
  color: g.$primary-white;
  font-size: 20px;
}

.sorters {
  display: flex;
  flex-direction: column;

  .sortActive {
    color: g.$primary-dark-blue;
  }
}

.tableTitle {
  color: g.$primary-dark-blue;
  margin: 20px 0 30px;
}

.requestsLeftBorder {
  border-left: solid 10px g.$secondary-blue;
  padding-left: 20px;
}

.titleContainer {
  background: g.$primary-white;
  font-size: 16px;
  padding-bottom: 40px;
}

.nameBtn {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: g.$link-blue;
}
