@use '@assets/global.scss' as g;

.schoolsTable {
  background: g.$primary-white;
  border-radius: 10px;
  border-top: 18px solid g.$secondary-blue;
  color: g.$primary-dark-blue;
  padding: 30px 40px;
  margin: 10px;

  thead {
    th {
      background: g.$primary-mid-blue !important;
      color: g.$primary-white !important;
    }
  }

  tbody {
    tr {
      td:first-child {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .actionsContainer {
    display: flex;
    flex-direction: column;
  }
}

.filterIcon {
  color: g.$primary-white;
  font-size: 20px;
}

.sorters {
  display: flex;
  flex-direction: column;

  .sortActive {
    color: g.$primary-dark-blue;
  }
}

.tableTitle {
  color: g.$primary-dark-blue;
}

.requestsLeftBorder {
  border-left: solid 10px g.$secondary-blue;
  padding-left: 20px;
}

.titleContainer {
  padding-bottom: 20px;
}
