@use '@assets/global.scss' as g;

.container {
  background-color: g.$help-grey;
  padding: 40px;
  color: g.$primary-dark-blue;
  margin-bottom: 40px;

  h2 {
    margin-top: 0;
  }

  a {
    color: g.$primary-dark-blue;
  }

  .link {
    text-decoration: underline;
    color: g.$link-blue;
    font-size: 18px;

    @include g.sm-breakpoint {
      font-size: 14px;
    }
  }

  .homeIcon {
    color: g.$link-blue;
  }
}
