@use '@assets/global.scss' as g;

.container {
  @include g.page-container;

  .contentContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 66px;

    .institutionCard {
      border-radius: 0 0 10px 10px;
      padding: 60px 82px;

      @include g.md-breakpoint {
        padding: 25px;
      }

      h2 {
        color: g.$primary-dark-blue;
        margin-right: 10px;
      }

      .tilesWrapper {
        max-width: 100%;
        margin-top: 25px;

        .productsTilesContainer {
          display: grid;
          padding-top: 20px;
          gap: 25px;

          @include g.sm-breakpoint {
            flex-direction: column;
            align-items: center;
          }
        }
      }

      .actionButtons {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .previewLink {
          color: g.$secondary-mid-blue;
          text-decoration: underline;
          align-self: center;
        }
      }
    }
  }
}

@media only screen and (max-width: calc(g.$screen-medium)) {
  .title {
    display: none;
  }

  .productsTilesContainer {
    flex-direction: column;
  }
}

@media only screen and (max-width: calc(g.$screen-small)) {
  .container {
    .contentContainer {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 20px;

      .institutionCard {
        margin-top: 0;
        padding: 15px;
      }
    }
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}
