@use '@assets/global.scss' as g;

.container {
  @include g.page-container;

  .contentContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 66px;

    .institutionCard {
      border-radius: 0 0 10px 10px;
      padding: 60px 82px;

      @include g.md-breakpoint {
        padding: 25px;
      }

      h2 {
        color: g.$primary-dark-blue;
        margin-right: 10px;
      }

      p {
        color: g.$primary-dark-blue;
      }

      .productsTilesContainer {
        margin-top: 2.5rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 1.5625rem;
      }

      .extraStockTileContainer {
        border-radius: 10px;
        background: g.$primary-dark-blue;
        margin-top: 25px;
      }

      .actionButtons {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: calc(g.$screen-medium)) {
  .title {
    display: none;
  }

  .container {
    .contentContainer {
      padding-top: 66px;
    }
  }

  .productsTilesContainer {
    flex-direction: column;
  }
}

@media only screen and (max-width: calc(g.$screen-small)) {
  .container {
    .contentContainer {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 20px;

      .institutionCard {
        margin-top: 0;
        padding: 15px;
      }
    }
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}
