@use '@assets/global.scss' as g;

.contactArea {
  margin: 30px 0 0;

  .contactAreaItem {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: g.$primary-dark-blue;
  }
}
