@use '@assets/global.scss' as g;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.councilBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: g.$primary-light-blue;
  padding: 40px 20px;

  .title {
    text-align: center;
    padding-bottom: 20px;
  }
}

.westSussexLogo {
  height: auto;
  width: auto;
  max-width: 60%;
  max-height: 60%;
}

@media only screen and (min-width: calc(g.$screen-medium + 1px)) {
  .councilBanner {
    flex-direction: row;
    padding: 89px 222px;

    .title {
      padding-bottom: 0;
    }
  }

  .westSussexLogo {
    padding-left: 74px;
    width: 300px;
  }
}
