@use '@assets/global.scss' as g;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .howItWorksBtn {
    margin-left: 0;
  }
}

.councilBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: g.$dark-blue;
  padding: 20px;

  .title {
    text-align: center;
    color: g.$primary-white;
  }
}

.westSussexLogo {
  width: 30%;
  height: 30%;
  min-width: 125px;
}

.helpingPupils {
  background: g.$primary-mid-blue;
  color: g.$primary-white;
  padding: 60px 60px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 80px;
  }

  .button {
    margin-top: 40px;
    padding: 40px;
    text-decoration: none;
    background: g.$primary-white;
    color: g.$primary-dark-blue;
    display: flex;
    border-radius: 10px;
    min-width: 250px;
    align-items: center;
    gap: 10px;

    h3 {
      margin: 0;
    }
  }

  img {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 60%;
    min-width: 250px;
  }

  .supporters {
    display: flex;
    justify-content: center;

    img {
      transform: translate(-10%, 8.5px);
    }
  }
}

@media only screen and (min-width: calc(g.$screen-medium + 1px)) {
  .councilBanner {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .title {
      padding-bottom: 0;
      max-width: 580px;
    }
  }

  .westSussexLogo {
    padding-left: 74px;
    width: 150px;
  }

  .helpingPupils {
    display: flex;
    flex-direction: row;

    .content {
      margin: 30px;
      flex-direction: row;
      gap: 50px;
    }

    .button {
      min-width: 300px;
    }

    .whiteLink {
      color: g.$pill-green-text;
      font-size: 18;
      font-weight: 700;
    }
  }
}

.tileContainer {
  background: g.$primary-dark-blue;
  padding: 40px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include g.sm-breakpoint {
    padding: 30px 15px;
  }
}

.howItWorks {
  background: g.$primary-white;
  display: flex;
  gap: 50px;

  h1,
  h2,
  p {
    margin-bottom: 25px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  img {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
  }

  .blueLink {
    color: g.$link-blue;
    font-weight: 700;
  }
}

@media only screen and (max-width: g.$screen-large) {
  .howItWorks {
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;

    img {
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 90%;
    }
  }

  .textContainer {
    padding: 40px;
  }
}
