@use '@assets/global.scss' as g;

.icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  @include g.md-breakpoint {
    margin-top: 15px;
  }
}

.tile {
  display: flex;
  flex: 1;
  height: 120px;
  padding: 30px 40px;
  gap: 20px;
  border-radius: 10px;

  h3 {
    padding: 0;
    margin: 0;
  }

  .tileText {
    position: relative;
    padding-left: 20px;
  }

  @include g.md-breakpoint {
    height: 160px;

    padding: 10px 20px;
    gap: 10px;
  }
}

.grey {
  @extend .tile;

  border-top: g.$primary-light-blue 8px solid;
  background: g.$about-grey;
  color: g.$dark-blue;

  .greyIcon {
    @extend .icons;

    background-color: g.$primary-light-blue;
  }
}

.lightBlue {
  @extend .tile;

  border-top: g.$primary-mid-blue 8px solid;
  background: g.$primary-light-blue;
  color: g.$dark-blue;

  .lightBlueIcon {
    @extend .icons;

    background-color: g.$primary-mid-blue;
  }
}

.midBlue {
  @extend .tile;

  border-top: g.$dark-blue 8px solid;
  background: g.$primary-mid-blue;
  color: g.$primary-white;

  .midBlueIcon {
    @extend .icons;

    background-color: g.$primary-dark-blue;
  }
}

.darkBlue {
  @extend .tile;

  border-top: g.$primary-light-blue 8px solid;
  background: g.$primary-dark-blue;
  color: g.$primary-white;

  .darkBlueIcon {
    @extend .icons;

    background-color: g.$primary-light-blue;
  }
}

.button {
  @include g.sm-breakpoint {
    position: absolute;
    bottom: 10px;
  }
}
