@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  color: g.$primary-dark-blue;
  padding: 48px 120px;

  .subContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    border-radius: 0 0 10px 10px;
    background: g.$primary-dark-blue;

    .deactivateLink {
      color: g.$link-blue;
      font-weight: 300;
      text-decoration-line: underline;
      display: inline-block;
      margin-top: 30px;
    }

    ul {
      margin-top: 0;

      .linkListItem {
        color: g.$link-blue;
        font-weight: 300;
        text-decoration-line: underline;
        display: inline-block;
        margin-top: 5px;
      }
    }

    .button {
      line-height: 20px;
    }
  }
}

.darkBlue {
  background: g.$primary-dark-blue;
  color: g.$primary-white;
}

.veryDarkBlue {
  background: g.$dark-blue;
  color: g.$primary-white;
}

.midBlue {
  background: g.$primary-mid-blue;
  color: g.$primary-white;
}

.lightBlue {
  background: g.$primary-light-blue;
  color: g.$dark-blue;
}

@media only screen and (max-width: 876px) {
  .container {
    padding: 48px 60px;
  }
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    padding: 17px 19px;

    .subContainer {
      padding: 40px 20px;
    }
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}
