@use '@assets/global.scss' as g;

.container {
  @include g.page-container;

  .contentContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 66px;
    padding-top: 66px;
    color: g.$primary-dark-blue;
    padding: 50px;
    white-space: pre-wrap;

    .requestItemsCard {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-top: solid 18px transparent;

      .radioGroup {
        margin-bottom: 20px;
      }

      .connection {
        margin-left: 30px;
        border-left: solid 4px g.$primary-mid-blue;
        z-index: 10;

        div,
        h4 {
          padding: 0;
          margin-left: 20px;
          margin-top: 0;
        }
      }

      .subheading {
        margin-bottom: 40px;
      }

      .textAreaHeadings {
        margin-bottom: 15px;
      }

      .mainHeading {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 0;
      }
    }

    .tick {
      border-color: g.$secondary-green;
    }

    .heart {
      border-color: g.$primary-dark-blue;
    }

    .plus {
      border-color: g.$secondary-purple;
    }
  }
}
