@use '@assets/global.scss' as g;

.email {
  word-break: break-word;

  a {
    color: g.$black;
  }
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    .contentContainer {
      width: 100%;
    }
  }
}
