@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 48px 50px;

  .header {
    display: flex;
    align-items: center;
    background: g.$dark-blue;
    border-radius: 10px 10px 0 0;

    h1 {
      color: white;
      padding: 20px 60px;
    }
  }
}

.body {
  background: g.$primary-dark-blue;
  color: g.$primary-white;
  padding: 60px 50px;
  border-radius: 0 0 10px 10px;

  @include g.lg-breakpoint {
    padding: 25px;
  }

  .charitiesCard {
    padding: 10px;
    border-top: g.$secondary-blue solid 18px;

    @include g.md-breakpoint {
      padding: 5px;
    }
  }
}

.subHeader {
  margin-bottom: 60px;
}

.tableHeader {
  margin-bottom: 0;
}

.registeredCharities {
  padding: 40px;
  border-radius: 10px;
  background-color: g.$about-grey;
  margin: 40px 0;

  @include g.md-breakpoint {
    padding: 20px;
    margin: 20px 0;
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 20px 0 0;
  }
}

.pillContainer {
  padding: 40px 0;

  @include g.md-breakpoint {
    padding: 20px 0;
  }

  @include g.sm-breakpoint {
    padding: 10px 0;
  }
}
