@use '@assets/global.scss' as g;

.infoTable {
  display: flex;
  flex-direction: column;
  background: g.$dark-blue;
  padding: 0 3%;
  border-radius: 10px;

  h3 {
    margin: 40px 0 20px 5px;
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
      display: flex;
      align-items: center;
    }

    .title {
      display: flex;
      align-items: center;
    }
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid g.$primary-dark-blue;

    &:first-child {
      padding-top: 50px;
    }

    &:last-child {
      margin-bottom: 40px;
    }

    .key {
      font-weight: bold;
    }

    .value {
      text-align: left;

      .pill {
        display: inline-block;
        padding: 4px 20px;
        background-color: g.$pill-green-background;
        color: g.$pill-text-white;
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
      }
    }

    .edit {
      text-align: center;
      font-size: 16px;
    }

    .delete {
      border-radius: 2px;
      border: 1px solid g.$border-black;
      padding: 8px 0;
      font-weight: 700;
      justify-self: end;
      color: g.$delete-red;
      background: g.$delete-grey;
      box-shadow: 2px 2px 0 2px g.$greyscale;
      min-width: 116px;
      height: 45px;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
