@use '@assets/global.scss' as g;

.infoTable {
  display: flex;
  flex-direction: column;
  background: g.$dark-blue;
  padding: 0 6%;
  border-radius: 10px;

  h3 {
    margin: 40px 0 20px 5px;
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
      display: flex;
      align-items: center;
    }

    .title {
      display: flex;
      align-items: center;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid g.$primary-dark-blue;

    div,
    button {
      flex: 1 1 0;
    }

    &:first-child {
      padding-top: 50px;
    }

    &:last-child {
      margin-bottom: 40px;
    }

    .key {
      font-weight: bold;
      margin-right: 10px;

      @include g.sm-breakpoint {
        font-size: 12px;
      }

      @include g.xs-breakpoint {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .noMarginBottom {
      margin-bottom: 0;
    }

    .value {
      text-align: left;
      word-break: break-word;

      .pill {
        display: inline-block;
        padding: 4px 20px;
        background-color: g.$pill-green-background;
        color: g.$pill-text-white;
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
      }

      @include g.sm-breakpoint {
        font-size: 12px;
      }
    }

    .edit {
      text-align: center;
      font-size: 16px;
      padding: 0;

      @include g.sm-breakpoint {
        font-size: 12px;
      }
    }

    .delete {
      border-radius: 2px;
      border: 1px solid g.$border-black;
      padding: 8px 0;
      font-weight: 700;
      justify-self: end;
      color: g.$delete-red;
      background: g.$delete-grey;
      box-shadow: 2px 2px 0 2px g.$greyscale;
      min-width: 116px;
      height: 45px;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        filter: brightness(0.9);
      }

      @include g.sm-breakpoint {
        min-width: 80px;
        height: 35px;
        font-size: 14px;
      }
    }
  }
}

.editContainer {
  display: flex;

  .editButtons {
    display: flex;
    height: 50px;
  }

  .marginTop {
    margin-top: 32.3px;
  }
}
