@use '@assets/global.scss' as g;

.container {
  color: g.$primary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-wrap;

  .logo {
    margin-top: 40px;
    width: 300px;
  }

  .paragraph {
    text-align: center;
  }
}
