@use '@assets/global.scss' as g;

.tile {
  background: g.$primary-white;
  padding: 40px;
  border-radius: 10px;
  flex: 0 0 100%;
  border: 0.5px solid grey;
  box-shadow: 0px 5px 5px #e5e6eb;
  cursor: pointer;

  h2,
  p {
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 20px;
  }
}

.small {
  flex: 1;
}

.medium {
  max-width: 40%;
}

@media only screen and (max-width: 1200px) {
  .small {
    max-width: 100%;
  }
}
