@use '@assets/global.scss' as g;

.back {
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: -7px;
  font-family: 'Poppins', sans-serif;

  &:hover {
    cursor: pointer;
  }
}

.white h4 {
  color: g.$primary-white;
}

.blue h4 {
  color: g.$primary-dark-blue;
}
