@use '@assets/global.scss' as g;

.back {
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  h4 {
    color: g.$primary-white;
  }
}
