@use '@assets/global.scss' as g;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 30px;
}

.header {
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  color: g.$primary-dark-blue;
}

.label {
  position: relative;
  display: inline-block;
}

.subHeading {
  color: g.$primary-dark-blue;
  margin: 0;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin: -20px 0 20px;
}

.input {
  @include g.input;
}

.inputLarge {
  width: 600px;
}

.inputSmall {
  width: 200px;
}

.errorMessage {
  color: g.$error-red;
  font-weight: 700;
  color: g.$error-red;
  margin-top: 0;
  margin-bottom: 20px;
}

.errorInput {
  border-color: g.$error-red;
}

.wrapperError {
  border-left: 5px solid g.$error-red;
  padding-left: 20px;
}

@media only screen and (max-width: g.$screen-large) {
  .input {
    padding: 8px 16px;
    font-size: 14px;
  }

  .header {
    font-size: 16px;
  }
}
