@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 66px 100px;
}

.adminCard {
  @include g.admin-card;
  border: none;

  .header {
    @include g.dashboard-header;

    h1 {
      color: white;
      margin-left: 11.9%;
    }

    .actionButtons {
      color: black;
      text-decoration: none;
    }
  }

  .body {
    background: g.$primary-dark-blue;
    color: g.$primary-white;
    padding: 10px 60px 30px;
    border-radius: 0 0 10px 10px;

    h2 {
      margin: 50px 0 20px 8.2%;
    }

    .cardContainer {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      padding: 0 0 35px;

      &.lasCardContainer {
        width: 100%;
      }
    }

    .lasTable {
      .actionsContainer {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.laBorder {
  border-left: solid 10px g.$primary-light-blue;
  padding-left: 20px;
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    padding: 17px 19px;

    .header {
      h1 {
        font-size: 40px;
      }
    }

    .adminCard {
      .body {
        padding: 20px;
      }
    }
  }
}

.subBody {
  background: g.$primary-dark-blue;
  color: g.$primary-white;
  padding: 30px 60px 40px;
  border-radius: 0 0 10px 10px;

  @include g.md-breakpoint {
    padding: 30px;
  }

  @include g.sm-breakpoint {
    padding: 15px;
  }

  @include g.xs-breakpoint {
    padding: 5px;
  }
}

.subContainer {
  @include g.page-container;
  padding: 4px 100px 50px;

  @include g.md-breakpoint {
    padding: 40px;
  }

  @include g.sm-breakpoint {
    padding: 15px;
  }

  @include g.xs-breakpoint {
    padding: 5px;
  }
}
