@use '@assets/global.scss' as g;

.card {
  background: g.$primary-white;
  border-radius: 10px;
  padding: 60px 82px;
  color: g.$primary-dark-blue;

  svg {
    fill: currentColor;
  }

  hr {
    background: g.$primary-light-blue;
    height: 4px;
    border: none;
    margin: 60px 0;
  }

  .requestDecisionCard {
    margin-top: 40px;
    padding: 40px 60px;
    border: g.$primary-light-blue solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: g.$primary-dark-blue;

    hr {
      height: 2px;
      margin: 0;
    }

    .actionButtons {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .informationLine {
    display: flex;

    b {
      width: 45%;
      max-width: 275px;
    }

    span {
      white-space: nowrap;
    }
  }

  .detailsCard {
    border-left: 8px solid g.$greyscale-light;
    padding: 1px;
    padding-left: 20px;
    margin-top: 40px;
  }

  .contactInfo {
    display: flex;
    align-items: center;
  }
}
