@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 48px 150px;

  @include g.sm-breakpoint {
    padding: 12px 38px;
  }

  @include g.sm-breakpoint {
    padding: 12px;
  }

  .banner {
    padding: 40px 80px;
    color: g.$primary-white;
    border-radius: 10px 10px 0 0;
    border-top: solid 18px transparent;

    @include g.sm-breakpoint {
      padding: 30px;
    }
  }

  .tick {
    background: g.$primary-mid-blue;
    border-color: g.$secondary-green;
  }

  .heart {
    background: g.$primary-dark-blue;
    border-color: g.$primary-mid-blue;
  }

  .plus {
    background: g.$dark-blue;
    border-color: g.$secondary-purple;
  }

  .editCard {
    border-radius: 0 0 10px 10px;

    @include g.sm-breakpoint {
      padding: 15px 20px;
    }

    .helpBanner {
      padding: 20px 40px;
      background: g.$help-grey;
      border-radius: 10px;
      color: g.$primary-dark-blue;
    }

    .whatToExpect {
      color: g.$primary-dark-blue;
      margin: 40px 0;
      padding: 40px;
      border: solid 2px g.$greyscale-disabled;
      border-radius: 10px;
      white-space: pre-wrap;

      h2 {
        margin-top: 0;
      }

      p {
        margin: 25px 0;
      }
    }

    .helpContact {
      margin: 40px 0;
      padding: 10px 40px 50px 40px;
      border: solid 2px g.$greyscale-disabled;
      border-radius: 10px;
      color: g.$primary-dark-blue;
      white-space: pre-wrap;

      p {
        margin-bottom: 30px;
      }
    }

    .actionButtons {
      display: flex;
      display: flex;
      flex-direction: column;
      gap: 30px;

      a {
        color: g.$secondary-mid-blue;
        text-decoration: underline;
        align-self: center;
      }
    }
  }

  .actionCard {
    border: solid 2px g.$greyscale-disabled;
    background-color: g.$primary-white;
    border-radius: 10px;
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}

.preview {
  color: g.$primary-dark-blue;
}
