@use '@assets/global.scss' as g;

.container {
  // width: 1000px;
  background: g.$primary-white;
  //padding: 40px 82px;
  border-radius: 10px;
  color: g.$primary-dark-blue;

  .validationContainer {
    margin-bottom: 10px;
    color: g.$error-red;
  }

  .forgotPassword {
    color: g.$primary-dark-blue;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
    text-decoration-line: underline;
    display: block;
    padding-bottom: 20px;
  }
}

.logoIcon {
  width: 50px;
}

.link {
  color: g.$primary-dark-blue;
  font-weight: bold;
}

.linkLight {
  color: g.$secondary-mid-blue;
  font-weight: bold;
}

.subContainer {
  background: g.$help-gray;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
}

.subContainerLine {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
}

@media only screen and (max-width: g.$screen-xlarge) {
  .container {
    //width: 80%;
  }
}
