@use '../../assets/global.scss' as g;

.container {
  background: white;
  width: 100%;
  height: g.$nav-height;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.links {
  margin: 0;
  list-style-type: none;
  padding: 0;
  padding-right: 120px;
  display: flex;
  flex-direction: row;
  align-content: center;

  .link {
    user-select: none;
    padding: 10px 12px 10px 12px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 16px;

    a {
      text-decoration: none;
      color: g.$primary-dark-blue;

      &:hover {
        text-decoration: underline g.$primary-dark-blue 3px;
        text-underline-offset: 5px;
      }
    }
  }

  .active {
    background: g.$gradient-blue;
    border-radius: 3px;

    a {
      color: g.$primary-white;

      &:hover {
        text-decoration: underline g.$primary-white 3px;
        text-underline-offset: 5px;
      }
    }
  }
}

.logoBlue {
  height: 50px;
  padding-left: 120px;
  cursor: pointer;
}

@media only screen and (max-width: g.$screen-large) {
  .logoBlue {
    padding-left: 60px;
  }

  .links {
    padding-right: 60px;

    .link {
      margin-left: 20px;
    }
  }
}
