@use '@assets/global.scss' as g;

.container {
  background: white;
  width: 100%;
  height: g.$nav-height;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.links {
  margin: 0;
  list-style-type: none;
  padding: 0;
  padding-right: 120px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.logoBlue {
  height: 50px;
  cursor: pointer;
  min-width: 80px;
  padding-left: 80px;
}

@media only screen and (max-width: g.$screen-medium) {
  .logoBlue {
    padding-left: 10px;
  }

  .links {
    flex: 2 2 auto;
    overflow-y: auto;
    min-height: 0px;
  }
}

@media only screen and (max-width: g.$screen-large) {
  .logoBlue {
    padding-left: 20px;
  }

  .links {
    padding-right: 40px;

    .link {
      margin-left: 20px;

      a {
        line-height: 16px;
      }
    }

    .navButton {
      margin-left: 20px;
    }
  }
}

@media only screen and (min-width: g.$screen-large) and (max-width: g.$screen-xlarge) {
  .links {
    padding-right: 80px;

    .link {
      margin-left: 30px;
    }

    .navButton {
      margin-left: 30px;
    }
  }
}
