@use '@assets/global.scss' as g;

.container {
  margin: 66px 100px 66px 100px;
}

.arrow {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;

  &:hover {
    filter: invert(0.5);
  }
}

.left {
  left: 0;
  margin-left: 5px;
}

.right {
  right: 0;
  margin-right: 5px;
}

.carouselItem {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-bottom: 25px;
  position: relative;

  .title {
    width: 50%;
    margin-right: 20px;
  }

  .image {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
    padding-right: 60px;
  }
}

.progressContainer {
  display: flex;
  justify-content: center;

  .progressDot {
    height: 25px;
    width: 25px;
    background: g.$greyscale-disabled;
    border-radius: 12.5px;
    margin-right: 10px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  .activeProgressDot {
    @extend .progressDot;
    background: g.$primary-dark-blue;
  }
}

.hidden {
  display: none;
}

.lightBlue {
  background: g.$primary-light-blue;
}

.midBlue {
  background: g.$primary-mid-blue;
  color: g.$primary-white;
}

.darkBlue {
  background: g.$primary-dark-blue;
  color: g.$primary-white;
}

@media only screen and (max-width: g.$screen-large) {
  .container {
    margin: 20px;
  }

  .carouselItem {
    flex-direction: column;
    padding: 20px;

    .image {
      width: auto;
      height: auto;
      max-width: 80%;
      max-height: 80%;
      padding-right: 0;
    }

    .title {
      font-weight: 400;
      text-align: center;
      width: 90%;
    }
  }
}

@media only screen and (max-width: g.$screen-medium) {
  .carouselItem {
    h2 {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: g.$screen-small) {
  .carouselItem {
    h2 {
      font-size: 18px;
    }
  }
}
