@use '@assets/global.scss' as g;

.container {
  background: g.$primary-light-blue;
  height: 100%;
  padding: 2% 10% 5% 10%;

  .heading {
    margin: 1rem 0 0 0;
  }

  .card {
    border-radius: 10px;
    background: g.$primary-white;
    padding: 2rem 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .buttonContainer {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    .contentContainer {
      padding-top: 40px;

      .card {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: g.$screen-large) {
  .container {
    .contentContainer {
      .card {
        padding: 30px 40px;
      }

      .card,
      .content {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: g.$screen-small) {
  .container {
    .contentContainer {
      width: 100%;
      padding-top: 20px;
      margin-bottom: 20px;

      .card {
        margin: 20px;
        margin-top: 0;
      }
    }
  }
}
