@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 66px 100px;
}

.adminCard {
  @include g.admin-card;
  border: none;

  .header {
    @include g.dashboard-header;

    h1 {
      color: white;
      margin-left: 11.9%;
    }

    .actionButtons {
      color: black;
      text-decoration: none;
    }
  }

  .body {
    background: g.$primary-dark-blue;
    color: g.$primary-white;
    padding: 20px 12% 60px;
    border-radius: 0 0 10px 10px;

    @include g.md-breakpoint {
      padding: 25px;
    }

    .tileRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
      gap: 2.5%;
      color: black;
    }

    .tile {
      border-radius: 10px;
      padding: 40px;
      margin: 20px 0;
      cursor: pointer;
    }

    .tileLightBlue {
      background: g.$primary-light-blue;
      color: g.$primary-dark-blue;
    }

    .tileDarkBlue {
      background: g.$dark-blue;
    }
  }

  .logoDiv {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}

.laDashboardCard {
  padding: 82px;

  .logo {
    width: 300px;
    margin-bottom: 40px;
  }

  a {
    color: g.$link-blue;
  }

  .checkbox {
    margin: 40px 15px 40px 0;
  }
}

@media only screen and (max-width: g.$screen-large) {
  .container {
    .body {
      padding: 30px 100px;

      .tileRow {
        margin: 10px 0 10px;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    .body {
      padding: 10px 50px;
    }
  }
}

.subBody {
  background: g.$primary-dark-blue;
  color: g.$primary-white;
  padding: 30px 60px 40px;
  border-radius: 0 0 10px 10px;
}

.subContainer {
  @include g.page-container;
  padding: 4px 100px 50px;
}
