@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  padding: 66px 100px;

  @include g.sm-breakpoint {
    padding: 25px;
  }
}

.adminCard {
  @include g.admin-card;
  border: none;

  .header {
    @include g.dashboard-header;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    padding: 60px 120px;

    @include g.lg-breakpoint {
      padding-left: 60px;
    }

    @include g.md-breakpoint {
      padding-left: 25px;
    }

    h1 {
      color: g.$primary-white;
      margin: 0;
      line-height: 0.8;
    }

    .settingsButton {
      display: flex;
      padding: 0 22px;
      min-height: 44px;
      margin-top: 40px;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      color: g.$primary-white;
      background-color: g.$secondary-mid-blue;
      border-radius: 5px;
      text-decoration: none;
      justify-content: center;
      gap: 10px;
    }

    .actionButtons {
      color: black;
      text-decoration: none;
    }
  }

  .body {
    background: g.$primary-dark-blue;
    color: g.$primary-white;
    padding: 20px 120px 60px;
    border-radius: 0 0 10px 10px;

    @include g.lg-breakpoint {
      padding: 20px 60px;
    }

    @include g.md-breakpoint {
      padding: 25px;
    }

    .tileContainer {
      margin-bottom: 60px;
    }

    .tileRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
      gap: 2.5%;
      color: black;
    }

    .tile {
      border-radius: 10px;
      padding: 40px;
      margin: 20px 0;
      cursor: pointer;
    }

    .tileLightBlue {
      background: g.$primary-light-blue;
      color: g.$primary-dark-blue;
    }

    .tileDarkBlue {
      background: g.$dark-blue;
    }
  }

  .logoDiv {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}

.laDashboardCard {
  padding: 82px;

  .logo {
    width: 300px;
    margin-bottom: 40px;
  }

  a {
    color: g.$link-blue;
  }

  .checkbox {
    margin: 40px 15px 40px 0;
  }
}

@media only screen and (max-width: g.$screen-large) {
  .container {
    .body {
      .tileRow {
        margin: 10px 0 10px;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}

.subBody {
  background: g.$primary-dark-blue;
  color: g.$primary-white;
  padding: 30px 60px 40px;
  border-radius: 0 0 10px 10px;

  @include g.md-breakpoint {
    padding: 30px;
  }

  @include g.sm-breakpoint {
    padding: 15px;
  }

  @include g.xs-breakpoint {
    padding: 5px;
  }
}

.subContainer {
  @include g.page-container;
  padding: 4px 100px 50px;

  @include g.md-breakpoint {
    padding: 30px;
  }

  @include g.sm-breakpoint {
    padding: 15px;
  }

  @include g.xs-breakpoint {
    padding: 5px;
  }
}
