@use '@assets/global.scss' as g;

.container {
  background: g.$primary-white;
  width: 100%;
  height: g.$nav-height;
  position: fixed;
  z-index: 1;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.logoBlue {
  height: 50px;
  cursor: pointer;
}

.logoWhite {
  height: 60px;
  cursor: pointer;
}

.drawer {
  height: calc(100% - g.$nav-height);
  background-color: g.$primary-dark-blue;
  position: fixed;
  width: 60%;
  min-width: 300px;
  top: g.$nav-height;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer::after {
  content: '';
  width: 8px;
  height: 100%;
  top: 0;
  right: -8px;
  position: absolute;
  background-color: g.$primary-mid-blue;
}

.closeIcon {
  padding-top: 10px;
  padding-right: 10px;
  align-self: self-end;
  cursor: pointer;
}

.links {
  margin-top: 50px;
  user-select: none;
  list-style-type: none;
  padding: 0;

  .link {
    width: fit-content;
    height: fit-content;
    margin-top: 40px;
    padding: 10px 12px 10px 12px;
    line-height: 11px;

    a {
      text-decoration: none;
      color: g.$primary-white;
      font-weight: 700;
      font-size: 16px;

      &:hover {
        text-decoration: underline g.$primary-white 3px;
      }
    }
  }

  .active {
    border-radius: 3px;
    background-color: g.$primary-white;

    a {
      color: g.$primary-dark-blue;

      &:hover {
        text-decoration: underline g.$primary-dark-blue 3px;
      }
    }
  }
}

.menuIcon {
  cursor: pointer;
}

.navButton {
  margin-top: 40px;
}

@media only screen and (max-width: g.$screen-small) {
  .hide400 {
    display: none;
  }

  .logoBlue {
    margin: auto;
  }
}

.logoGrey {
  height: 20px;
  margin-right: 10px;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
