@use '../../assets/global.scss' as g;

.container {
  background: g.$primary-dark-blue;
  width: 100%;
  height: 50px;
  margin-top: auto;
}

footer {
  margin-top: auto;
}

.logo {
  height: 50px;
}
