@use '@assets/global.scss' as g;

.card {
  color: g.$primary-dark-blue;
  background: g.$primary-white;
  border-radius: 10px;
  padding: 60px 82px;

  hr {
    background: g.$primary-light-blue;
    height: 4px;
    border: none;
    margin-bottom: 40px;
  }
}
