@use '@assets/global.scss' as g;

.formCard {
  padding: 60px 82px;

  @include g.sm-breakpoint {
    padding: 30px;
  }

  @include g.xs-breakpoint {
    padding: 15px;
  }

  hr {
    background: g.$primary-light-blue;
    height: 4px;
    border: none;
    margin-bottom: 40px;
  }
}
