@use '@assets/global.scss' as g;

.container {
  max-width: 450px;
  width: 80%;
  margin: auto;
  padding: 40px 0 100px;
}

.logo {
  margin: auto;
  display: block;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

@media only screen and (max-width: g.$screen-large) {
  .container {
    padding-bottom: 0;
  }
}
