@use '@assets/global.scss' as g;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: g.$primary-light-blue;
}

.containerInner {
  background: g.$primary-white;
  padding: 40px 82px;
  margin: 50px;
  border-radius: 10px;
  color: g.$primary-dark-blue;

  p {
    width: 30em;
    text-align: center;
  }

  .errorText {
    color: red;
    text-align: left;
  }

  .verificationCodeInputContainer {
    width: 30em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
}

.loginBanner {
  background: g.$primary-dark-blue;
  padding: 20px 145px;
  border-radius: 10px;
}

.login {
  color: g.$primary-dark-blue;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  text-decoration-line: underline;
  display: inline-block;
  text-align: center;
  width: 100%;
}
