@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  color: g.$primary-dark-blue;
  padding: 48px 120px;

  .subContainer {
    .tile {
      display: flex;
      align-items: center;
      border-radius: 10px;
      justify-content: space-between;
      max-width: 1200px;
      margin: auto;
      margin-top: 20px;
      cursor: pointer;
      white-space: pre-wrap;

      @include g.md-breakpoint {
        justify-content: flex-start;
      }

      svg {
        padding: 0 20px;
        min-width: 50px;

        @include g.lg-breakpoint {
          width: 40px;
          min-width: 40px;
        }

        @include g.xs-breakpoint {
          display: none;
        }
      }

      img {
        border-radius: 10px;
        width: 60%;
        margin-left: -50px;
        max-width: 550px;
      }

      .content {
        padding: 30px 0;

        @include g.xs-breakpoint {
          padding: 20px;
        }

        .header {
          margin: 0;
          padding-bottom: 10px;

          @include g.md-breakpoint {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.darkBlue {
  background: g.$primary-dark-blue;
  color: g.$primary-white;
}

.midBlue {
  background: g.$primary-mid-blue;
  color: g.$primary-white;
}

.lightBlue {
  background: g.$primary-light-blue;
  color: g.$dark-blue;
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    padding: 17px 19px;

    .subContainer {
      img {
        display: none;
      }

      .content {
        margin-right: 20px;
      }
    }
  }
}
