@use '@assets/global.scss' as g;
$small: 500px;

.container {
  @include g.page-container;
  color: g.$primary-dark-blue;
  padding: 48px 120px;

  .subContainer {
    @include g.card;
    padding: 40px 80px;

    .tileRow {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0 20px;
    }
  }
}

.darkBlue {
  background: g.$primary-dark-blue;
  color: g.$primary-white;
}

.midBlue {
  background: g.$primary-mid-blue;
  color: g.$primary-white;
}

.lightBlue {
  background: g.$primary-light-blue;
  color: g.$dark-blue;
}

@media only screen and (max-width: g.$screen-medium) {
  .container {
    padding: 17px 19px;

    .subContainer {
      padding: 40px 40px;

      .content {
        margin-right: 20px;
      }

      .tileRow {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 30px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .subContainer {
      .tileRow {
        margin: 10px 0 10px;
        flex-direction: column;
      }

      .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 20px;

        img {
          max-width: 80%;
          max-height: 80%;
        }
      }
    }
  }
}
