@use '@assets/global.scss' as g;

.errorPage {
  color: g.$primary-white;
  background: g.$dark-blue;
  padding: 40px 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;

  a {
    color: g.$primary-white;
  }
}

.logo {
  width: 300px;
  padding: 60px 0;
}
