// Primary Colours
$primary-dark-blue: #11356f;
$primary-mid-blue: #0075a2;
$primary-light-blue: #97c8eb;
$primary-white: #fefcfd;

// Secondary Colours
$secondary-purple: #5c7aff;
$secondary-blue: #4a8fe7;
$secondary-mid-blue: #1d70b8;
$secondary-light-green: #3aafb9;
$secondary-green: #00b6a8;
$secondary-red: #f93342;

// Gradient Colours
$gradient-blue: linear-gradient(90deg, #11356f 0%, #0075a2 100%);

// Greyscale Colours
$greyscale: #394150;
$greyscale-light: #9ea3ae;
$greyscale-disabled: #e5e6eb;
$greyscale-disabled-border: #f9fafb;
$disabled-font: #596975;
$form-button-grey-border: #7c7b7b;
$form-button-green-border: #0f2c1a;
$form-button-grey-text: #313946;
$form-button-grey-background: #efeeed;
$form-button-green-background: #2f6e41;

// Box Shadow Colours
$box-shadow-black: rgba(0, 0, 0, 0.1);

// General Colours
$black: black;
$dark-blue: #050e33;
$help-gray: #f1f1f1;

// Pill Colours
$pill-blue-background: #3157b0;
$pill-text-white: #f2f4fa;
$pill-light-blue: #d5e0f2;
$pill-text-blue: #324a88;
$pill-green-background: #c2dfd1;
$pill-green-text: #005328;
$pill-grey-background: #ebecec;
$pill-grey-text: #31373b;
$pill-red-background: #f6d3cd;
$pill-red-text: #8b281a;
$pill-yellow-background: #fbfdb5;
$pill-yellow-text: #514d12;

// Screen Breakpoints
$screen-small: 400px;
$screen-medium: 768px;
$screen-large: 1024px;
$screen-xlarge: 1200px;

// Navigation
$nav-height: 80px;

// Error
$error-red: #f03a47;
$warning-orange: #ffa500;

$modal-backdrop: rgba(17, 53, 111, 0.75);

@mixin admin-card {
  border: solid $primary-white 2px;
  border-radius: 10px;
}

@mixin card {
  border-radius: 10px;
  background: $primary-white;
  box-shadow: 0 4px 4px 0 $box-shadow-black;
}

@mixin page-container {
  background: $primary-light-blue;
  height: 100%;
}

@mixin input {
  padding: 10px 20px;
  font-size: 16px;
  background: $primary-white;
  color: $primary-mid-blue;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  border: 1px solid $greyscale;
  box-shadow: 0 4px 4px 0 $box-shadow-black;
  height: 28px;
  width: 300px;

  &:disabled {
    background-color: $box-shadow-black;
  }
}

// Headers
h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
  letter-spacing: -0.48px;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 40px */
  letter-spacing: -0.32px;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 30px */
  letter-spacing: -0.24px;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 20px */
  letter-spacing: -0.16px;
}

p,
li {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 26.1px */
  letter-spacing: -0.09px;
}
