// Primary Colours
$primary-dark-blue: #11356f;
$primary-mid-blue: #0075a2;
$primary-light-blue: #97c8eb;
$primary-white: #fefcfd;

// Secondary Colours
$secondary-purple: #5c7aff;
$secondary-blue: #4a8fe7;
$secondary-light-green: #3aafb9;
$secondary-green: #00b6a8;

$nav-height: 80px;
