@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    background: g.$primary-white;
    padding: 40px 82px;
    margin: 50px;
    border-radius: 10px;
    color: g.$primary-dark-blue;

    .logo {
      width: 95px;
      height: 95px;
    }
  }

  .verificationCode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      width: 95px;
      height: 95px;
    }

    .codeContainer {
      margin: 40px 0;

      .character {
        border-radius: 10px;
        border: solid 3px g.$primary-dark-blue;
        color: g.$primary-dark-blue;
      }
    }
  }
}
