@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .signUpCard {
    margin: 50px;
    width: 650px;

    @include g.sm-breakpoint {
      width: 80vw;
    }

    .logo {
      width: 95px;
      height: 95px;
    }

    .hintTextContainer {
      border-radius: 10px;
      background: g.$help-grey;
      padding: 40px;
      margin-bottom: 40px;

      @include g.sm-breakpoint {
        padding: 20px;
      }

      .passwordHint {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;

        span {
          margin-left: 40px;
          font-size: 18px;

          @include g.sm-breakpoint {
            font-size: 14px;
          }
        }
      }
    }
  }

  .verificationCode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      width: 95px;
      height: 95px;
    }

    .codeContainer {
      margin: 40px 0;

      .character {
        border-radius: 10px;
        border: solid 3px g.$primary-dark-blue;
        color: g.$primary-dark-blue;
      }
    }
  }

  .link {
    background: none;
    color: g.$link-blue;
    border: none;
    text-decoration: underline;
    font-weight: normal;
    text-underline-offset: 2px;
  }
}
