@use '@assets/global.scss' as g;

.container {
  background: g.$primary-dark-blue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 300px;
    padding: 89px 0;
  }
}
