@use '@assets/global.scss' as g;

.container {
  @include g.page-container;

  .contentContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 66px;

    h1 {
      padding: 66px 0;
      margin: 0;
    }

    h3 {
      margin-top: 60px;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      a {
        color: g.$black;
      }
    }

    .card {
      @include g.card;
      padding: 60px 82px;

      .email {
        word-break: break-word;

        a {
          color: g.$black;
        }
      }

      .home {
        color: g.$primary-dark-blue;
        font-size: 16px;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
        text-decoration-line: underline;
        display: inline-block;
        padding-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: calc(g.$screen-medium)) {
  .title {
    display: none;
  }

  .container {
    padding: 17px 19px;

    .contentContainer {
      width: 100%;
      padding-top: 66px;

      .card {
        padding: 20px;
      }
    }
  }
}

@media only screen and (max-width: calc(g.$screen-small)) {
  .container {
    .contentContainer {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 20px;

      .card {
        padding: 20px;
        margin: 20px;
        margin-top: 0;
      }
    }
  }
}
