@use '@assets/global.scss' as g;

.container {
  @include g.page-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formContainer {
    @include g.card;
    padding: 40px 82px;
    width: 65vw;
    margin-bottom: 50px;

    .pagination {
      display: flex;
      flex-direction: row-reverse;
      font-size: 24px;
      color: g.$primary-dark-blue;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.24px;
      margin-bottom: 40px;
    }

    .headerContainer {
      margin: 0 0 40px;
      color: g.$primary-dark-blue;
      font-family: Poppins;

      .header {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: -0.32px;
        margin: 0;
      }

      .subHeader {
        margin-top: 20px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: -0.09px;
      }
    }

    .formComponent {
      margin-bottom: 40px;

      h4 {
        font-size: 20px;
      }

      h5 {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.09px;
      }

      > div {
        padding-bottom: 0;
      }

      .link {
        margin-top: 40px;
      }
    }
  }
}
