@use '@assets/global.scss' as g;

%button {
  padding: 4px 15px 4px 15px;
  border-radius: 1px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  line-height: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  z-index: 100;

  @include g.lg-breakpoint {
    line-height: 16px;
  }

  @include g.sm-breakpoint {
    font-size: 16px;
    line-height: 20px;
  }
}

.text {
  padding: 8px 0 8px 0;
  @include g.sm-breakpoint {
    padding: 0;
  }
}

.formButtonDarkBlue {
  @extend %button;
  border: g.$primary-dark-blue 1px solid;
  box-shadow: 2px 2px 0px 2px g.$primary-light-blue;
  background: g.$primary-dark-blue;
  color: g.$primary-white;
}

.formButtonMidBlue {
  @extend %button;
  border: g.$primary-mid-blue 1px solid;
  box-shadow: 2px 2px 0px 2px g.$primary-dark-blue;
  background: g.$primary-mid-blue;
  color: g.$primary-white;
}

.formButtonLightBlue {
  @extend %button;
  border: g.$primary-light-blue 1px solid;
  box-shadow: 2px 2px 0px 2px g.$primary-mid-blue;
  background: g.$primary-light-blue;
  color: g.$primary-dark-blue;
}

.formButtonRed {
  @extend %button;
  border: g.$greyscale-disabled 1px solid;
  box-shadow: 2px 2px 0px 2px g.$secondary-red;
  background: g.$greyscale-disabled;
  color: g.$primary-dark-blue;
}

.formButtonGrey {
  @extend %button;
  border: g.$form-button-grey-background 1px solid;
  box-shadow: 2px 2px 0px 2px g.$form-button-grey-border;
  background: g.$form-button-grey-background;
  color: g.$form-button-grey-text;
}

.formButtonGreen {
  @extend %button;
  border: g.$form-button-green-background 1px solid;
  box-shadow: 2px 2px 0px 2px g.$form-button-green-border;
  background: g.$form-button-green-background;
  color: g.$primary-white;
}

.formButtonGreenDisabled {
  @extend %button;
  cursor: not-allowed;
  border: g.$form-button-green-background 1px solid;
  box-shadow: 2px 2px 0px 2px g.$form-button-green-border;
  background: g.$form-button-green-background;
  color: g.$primary-white;
  opacity: 40%;
}

.formButtonDisabled {
  @extend %button;
  cursor: not-allowed;
  border: g.$form-button-grey-background 1px solid;
  box-shadow: 2px 2px 0 2px g.$form-button-grey-border;
  background: g.$form-button-grey-background;
  color: g.$form-button-grey-text;
}

.fullWidth {
  width: 100%;
  span {
    width: 100%;
  }
}
