@use '@assets/global.scss' as g;

.container {
  .sectionHeader {
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 10px 0 10px 0;
    color: g.$primary-dark-blue;

    h3 {
      margin: 0 10px;
    }

    .hr {
      display: inline-block;
      width: fit-content;
      height: 2px;
      background: g.$greyscale-disabled;
      flex-grow: 1;
      margin: auto;
    }

    svg {
      align-self: center;
    }
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    .listItem {
      width: fit-content;
      min-width: 275px;
      height: 35px;
      color: g.$primary-dark-blue;
      display: flex;
      align-items: center;

      span {
        padding-left: 10px;
        margin-bottom: 2px;
      }
    }
  }
}

.bold {
  font-weight: 600;
}
