@use '@assets/global.scss' as g;

.modal {
  background-color: g.$modal-backdrop;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modalCard {
    border: 2px solid g.$primary-light-blue;
    padding: 40px 100px;
    max-width: 700px;

    @include g.sm-breakpoint {
      padding: 20px 50px;
      width: 80vw;
    }

    h2 {
      text-align: center;
    }

    .actionButtons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
